@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* esto es una variables */

:root{
    --colo-primario: aqua; 
    --color-secundario: black;
    --color-terciario: orange;
    --color-cuarto: #b30ada;
    --color-quinto: red;



    --fuente-montserrat: "Montserrat", sans serif;
    --fuente-krona: "krona one", sans serif; 


}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}


body{
    background-color: var(--colo-primario);
    color: var(--color-secundario);
    box-sizing: border-box;
    
    }

    .body__menu{
        background-color: var(--color-terciario);
       box-sizing: border-box;

    }

    .body__mayoreo{
        background-color: var(--color-quinto);
        color: var(--color-secundario);
        box-sizing: border-box;
    }

    .presentacion__contenido__titulo__menu{
        font-size: 2.25rem;
        font-family: var(--fuente-krona);
       color: var(--color-cuarto);
        width: 100%;
        padding: 5px;

    }
    .sabores__agua{
        font-size: 2.25rem;
        font-family: var(--fuente-krona);
        color: rgb(15, 124, 15);
        justify-content: center;
        display: flex;



    }
    .Sabores__frappes{
        font-size: 2.25rem;
        font-family: var(--fuente-krona);
        color: rgb(15, 124, 15);
        justify-content: center;
        display: flex;

    }

    .presentacion__contenido__texto__menu{
        font-size: 2.25rem;
        font-family: var(--fuente-krona);
        color: rgb(15, 124, 15);
        justify-content: center;
        display: flex;
    }

   .header {
    padding: 2% 15% 0% 15%;


   }

   .header__menu{
    display: flex;
    gap: 80px;
    
   }

   .header__sobre__mi{
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-cuarto);
    text-decoration: none;
    border: solid var(--color-terciario);
    padding: 6.5px 0;
    width: 378px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    gap: 16px;
    }



   
   .header__sobre__mi:hover{
    background-color: var(--color-terciario);
   }
   
    strong {
        color: var(--color-cuarto);
    }

    .presentacion__mayoreo{
        display: flex;
        align-items: center;
        padding: 5% 6%; 
        justify-content: space-between;
        gap: 82px;

    }

    .presentacion{
        display: flex;
        align-items: center;
        padding: 5% 6%; 
        justify-self: auto;
        text-align: center;

        
        
    }
    .presentacion__menu{
        display: flex;
        align-items: center;
        padding: 5% 6%; 
        justify-self: auto;
        text-align: center;
        width: 100%;

    }


    .presentacion__contenido {
        width: 60%;
        display: flex;
        flex-direction: column;
        gap: 40px;
        


    }
    
    


    .presentacion__contenido__titulo{
        font-size: 2.25rem;
        font-family: var(--fuente-krona);

    }

   

    .tituloDestaque{
        color: var(--color-quinto);

    }
    .presentacion__contenido__texto{
        font-size: 1.5rem;
        font-family: var(--fuente-montserrat)
    }
    .presentacion__enlaces{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        gap: 32px;


    }

    .presentacion__enlaces__subtitulo{
        font-family: var(--fuente-krona);
        font-size: 1.5rem;
        font-weight: 400;
    }

    .presentacion__link__enlace{
        width: 50%;
        border: 2px solid red ;
        text-align: center;
        padding: 21.5px 0;
        border-radius: 8px;
        font-family: var(--fuente-montserrat);
        font-size: 1.5rem;
        font-weight: 600;
        text-decoration: none;
        color: var(--color-secundario);
        display: flex;
        justify-content: center;
        gap: 16px;
    }
    
    .footer{
        background-color: var(--color-terciario);
        padding: 24px;
        color: var(--color-secundario);
        text-align: center;
        font-family: var(--fuente-montserrat);
        font-size: 1.5rem;
        font-weight: 400;

    }
    .presentacion__link__enlace:hover{
        background-color: var(--color-terciario)
    }
    .imagen{
        width: 50%;
        height: 450px;
      

    }
    .imagen__mayoreo{
        width: 50%;
        height: 450px;
    }
 
   
    .menu{
        display: flex;
        min-height: 100vh;
    }

    .gallery {
        display: block;
        gap: 15px;
        padding: 20px;
    }

    .gallery-item {
      
        border-radius: 20px;
        display: block;
        width: auto;
    }
   
    .gallery-description {
        
        left: 0;
        width: 60%;
        background-color: rgb(249, 160, 175);
        color: var(--color-secundario);
        padding: 10px;
        text-align: center;
        font-size: 1.5rem;
      
        border-radius: 0px 0px 20px 20px ;
    }

    
    .gallery-item img {
        width: 59.8%; 
        height: 450px;
        object-fit: cover;
        display: block;
        border-radius: 20px 20px 0px 00px;
       
    }

    .gallery-item:hover .gallery-description  {
        bottom: 0;
        background-color: var(--colo-primario);
    }
   
   

   




    @media (max-width: 1200px){

        .header{
            padding: 5% 2% 5% 5%;
        }

        .header__menu{
            justify-content: center;
            gap: 5%;



        }

        .presentacion{
            flex-direction: column;
            padding: 5%;
        }
        .presentacion__menu{
            flex-direction: column;
            padding: 5%;

        }
        

        .presentacion__contenido{
            width: auto;
        }
      
        .imagen{
    
            height: 50%;
        }

        .imagen__mayoreo{
            width: 90%;
            height: 50%;

            padding: 0% 0% 5% 0%;
        }

        .presentacion__mayoreo{
            flex-direction: column-reverse;
            padding: 5% 0% 25% 5%;
        }
        .gallery-item img {
            width: 90%;


    }
    .gallery-description {
          width: 90%;
       
            font-size: 2em;
            animation: moverYEscalar 3s ease-in-out infinite;
            text-align: center;
        

    }
    
    
    
    }
        
    
 

